.tag{
	position: relative;
	padding-left: 24px;
	margin-bottom: 45px;

	&:before{
		position: absolute;
		top: 3px;
		left: 0;
		content: url('../images/vieclam/icon09.png');
	}

	li{
		display: inline-block;
		color: #e64949;
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
		border-radius: 3px;
		border: 1px solid #e64949;
		background-color: #ffffff;
		margin: 0 5px;
		padding: 0px 12px;
	}
}

.button,.simplefavorite-button{
	display: block;
	color: #fff;
	border-radius: 4px;
	padding: 9px 0;
	text-align: center;
	max-width: 250px;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	border-radius: 0 0 4px 4px;
	border-radius: 4px;
	border: none;
	@media screen and ( max-width: 550px ){
		font-size: 13px;
		padding: 7px 0;
	}

	&:before{
		position: absolute;
		top: 1px;
		left: 1px;
		content: '';
		/*background-image: url(../images/common/button-icon-01.png);*/
		height: calc(100% - 1px);
		width: 100%;
		background-size: auto 100%;
		background-repeat: no-repeat;
	}

	&:after{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 20px;
		margin: auto;
		content: '';
		background-image: url(../images/common/right-icon-01.png);
		height: 15px;
		width: 8px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&:hover{
		color: #fff;
		opacity: 0.8;
		text-decoration: none;
	}
}

.button-blue{
	background-image: linear-gradient(to bottom, #3aaeff 0%, #3aaeff 13%, #3aaeff 17%, #3aaeff 19%, #257ed9 84%, #257ed9 100%);
	border-bottom: 3px solid #173963;
}

.button-red{
	background-image: linear-gradient(to bottom, #ff4444 0%, #ff4444 13%, #ff4444 17%, #ff4444 19%, #bf0000 84%, #bf0000 100%);
	border-bottom: 3px solid #6e151c;
}

.simplefavorite-button{
	border: 1px solid #fa8787;
	border-bottom: 3px solid #e04242;
	color: #fa8787;
	background: #fff;
	opacity: 1 !important;

	&:hover{
		color: #e04242;
		opacity: 0.8;
		color: #fa8787;
		text-decoration: none;
	}

	&:before{
		background-image: url(../images/common/button-icon-02.png);
		top: 0;
		height: 100%;
	}

	&:after{
		background-image: url(../images/common/right-icon-02.png);
	}

	i{
		display: none;
	}
}

.simplefavorite-button.active{
	opacity: 1 !important;
	background-image: linear-gradient(to bottom, #ffabab 0%, #ffabab 13%, #ffabab 17%, #ffabab 19%, #f26a6a 84%, #f26a6a 100%);
	color: #fff;
	border: none;
	border-bottom: 3px solid #e04242;

	&:before{
		background-image: url(../images/common/button-icon-03.png);
		height: calc( 100% - 1px );
		top: 1px;
	}

	&:after{
		background-image: url(../images/common/right-icon-01.png);
	}
}

